.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 22px;
}

.main-header__logo {
  margin-left: 20px;
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 1200px;
    flex-direction: row;
  }
}
